blockquote {
  background-color: rgba(0, 0, 0, 0.12);
  padding: 8px;
}

a {
  color: darkred;
  text-decoration: none;
}

span {
  float: left;
  color: darkred;
  border: 3px ridge darkgoldenrod;
  padding: 16px;
  background-color: gold;
  margin: 8px;
}

blockquote::after {
  content: ' " ';
  font-size: 32px;
}
blockquote::before {
  content: ' " ';
  font-size: 32px;
}

a:hover {
  color: #fd7901;
  font-weight: 700;
}

a:visited {
  color: blueviolet;
  font-weight: 500;
}
